<!DOCTYPE html>
<html>
  <head>
    <title>야생동물과 유해동물 비교 프로젝트 </title>
    <link rel="stylesheet" type="text/css" href="../static/index.css" />
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="../static/index.js"></script>
  </head>
  <body>
    <div class="App">
      <header class="App-header">
        <p> 동물 사진을 선택해주세요</p>
        <img src="static\image\logo.png" alt="logo" width="300" height="300">
        <form>
          <input
            id="imageinput"
            type="file"
            name="image"
            onchange="readUrl(this)"
          />
        </form>
        <button name="send" id="sendbutton">전송</button>
      </header>
    </div>
  </body>
</html>
